<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZDocInteraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA21F7631E2F013800E40313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA21F77C1E2F013900E40313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA21F7871E2F013900E40313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
